
.DS_Store
*.csv
*.pyc
metrics/rtd.py
metrics/rtd2.py
/zzz_ignore
# *.ipynb
.gitattributes
/results/pp_notebooks
/metrics/word_importance.py
/aob

sandbox.ipynb
diagnose_treat_bias_llm.pdf
/presenting
/aclpubcheck
acl-copyright-transfer.pdf
*.pkl
*.parquet
*.json
__pycache__/
*.egg-info/
dist/
.env
